<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="icon" type="image/png" href="/public/fav-icon.png">
    <link href="/src/css/global_styles.css" rel="stylesheet">
    <link href="/src/css/pets.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <button class="menu-toggle" id="menuToggle">☰</button>
        <nav class="nav" id="navMenu">
            <a href="#">Inicio</a>
            <a href="/index.html">Portafolio</a>
        </nav>
    </header>
    <main>
        <section id="pets">
            <h2 class="title">Mascotas</h2>
            <hr>
            <div class="gallery-layout">

                <div class="projects-grid">

                    <a href="https://github.com/Danilo-Doria" target="_blank" class="project-card">
                        <img class="pet-image" src="/public/perro.avif" alt="Imagen de un perro beagle">
                        <div class="card-content">
                            <h3>Perro Beagle</h3>
                            <p>
                                El Beagle es una raza de perro sabueso de tamaño mediano.
                            </p>
                        </div>
                    </a>

                    <a href="#" class="project-card">
                        <img src="/public/perro2.webp" alt="Imagen de mascota">
                        <div class="card-content">
                            <h3>Golden Retriever</h3>
                            <p>Perro amigable, inteligente y muy familiar.</p>
                        </div>
                    </a>

                    <a href="#" class="project-card">
                        <img src="/public/perro2.webp" alt="Imagen de mascota">
                        <div class="card-content">
                            <h3>Bulldog</h3>
                            <p>Fuerte, tranquilo y excelente mascota doméstica.</p>
                        </div>
                    </a>

                    <a href="#" class="project-card">
                        <img src="/public/perro2.webp" alt="Imagen de mascota">
                        <div class="card-content">
                            <h3>Pastor Alemán</h3>
                            <p>Muy inteligente y protector.</p>
                        </div>
                    </a>

                    <a href="#" class="project-card">
                        <img src="/public/perro2.webp" alt="Imagen de mascota">
                        <div class="card-content">
                            <h3>Pug</h3>
                            <p>Pequeño, divertido y muy cariñoso.</p>
                        </div>
                    </a>

                    <a href="#" class="project-card">
                        <img src="/public/perro2.webp" alt="Imagen de mascota">
                        <div class="card-content">
                            <h3>Husky</h3>
                            <p>Activo, hermoso y con mucha energía.</p>
                        </div>
                    </a>
                </div>
                <aside class="gallery-description">
                    <h3>Sobre esta galería</h3>
                    <p>
                        Esta galería muestra diferentes tipos de mascotas, principalmente perros,
                        organizados en un diseño moderno con Grid y tarjetas visuales.
                    </p>

                    <p>
                        Cada tarjeta incluye una imagen, nombre y descripción breve para
                        practicar maquetación web y diseño responsive.
                    </p>
                </aside>
            </div>
        </section>
        <hr>
    </main>
    <footer class="footer">
        <address class="address">
            <a href="https://github.com/Danilo-Doria" target="_blank">
                <img src="/public/github-icon.svg" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/danilodd/" target="_blank">
                <img src="/public/linkedin-icon.svg" alt="Linkedin" />
            </a>
            <a href="mailto:danilodoria519@gmail.com">
                <img src="/public/email-icon.svg" alt="Correo electrónico" />
            </a>
        </address>
        <p class="footer-text">© 2026 Danilo Doria — Todos los derechos reservados.</p>
    </footer>
    <div class="bubbles">
        <span style="left:10%; animation-duration: 8s;"></span>
        <span style="left:20%; animation-duration: 12s;"></span>
        <span style="left:30%; animation-duration: 9s;"></span>
        <span style="left:40%; animation-duration: 7s;"></span>
        <span style="left:50%; animation-duration: 11s;"></span>
        <span style="left:60%; animation-duration: 10s;"></span>
        <span style="left:70%; animation-duration: 13s;"></span>
        <span style="left:80%; animation-duration: 6s;"></span>
        <span style="left:90%; animation-duration: 14s;"></span>
        <span style="left:95%; animation-duration: 20s;"></span>
        <span style="left:25%; animation-duration: 9s;"></span>
        <span style="left:35%; animation-duration: 13s;"></span>
    </div>
    <script src="/src/script.js"></script>
</body>

</html>