<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="icon" type="image/png" href="../../public/icons/fav-icon.png">
    <link href="../css/pets.css" rel="stylesheet">
</head>

<body>

    <!-- Starts header -->
    <header class="header">

        <!-- Burger menu only for mobile devices -->
        <button id="menu-toggle">☰</button>

        <!-- Navigation menu -->
        <nav id="nav-menu">
            <a href="#">Inicio</a>
            <a href="../../index.html">Portafolio</a>
        </nav>

    </header>
    <!-- Ends header -->

    <!-- Starts main -->
    <main>

        <!-- Starts pets section -->
        <section id="pets">

            <h1 class="main-title">Mascotas</h1>
            <div class="gallery-layout">

                <div class="pets-grid">

                    <a href="https://github.com/Danilo-Doria" target="_blank" class="pets-card">
                        <img class="pet-image" src="../../public/images/beagle.webp" alt="Imagen de un perro beagle">
                        <div class="card-description">
                            <h3>Perro Beagle</h3>
                            <p>
                                El Beagle es una raza de perro sabueso de tamaño mediano.
                            </p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/golden.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Golden Retriever</h3>
                            <p>Perro amigable, inteligente y muy familiar.</p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/bulldog.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Bulldog</h3>
                            <p>Fuerte, tranquilo y excelente mascota doméstica.</p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/pastor.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Pastor Alemán</h3>
                            <p>Muy inteligente y protector.</p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/pug.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Pug</h3>
                            <p>Pequeño, divertido y muy cariñoso.</p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/poodle.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Poodle</h3>
                            <p>Extremadamente inteligente y activo. Además, pierde poco pelo.</p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/chihuahua.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Chihuahua</h3>
                            <p>Pequeño pero valiente. Muy apegado a su dueño y con mucha personalidad.</p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/dalmata.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Dálmata</h3>
                            <p>Activo y elegante. Reconocido por sus manchas únicas y mucha energía.</p>
                        </div>
                    </a>

                    <a href="#" class="pets-card">
                        <img class="pet-image" src="../../public/images/doberman.webp" alt="Imagen de mascota">
                        <div class="card-description">
                            <h3>Doberman</h3>
                            <p>Ágil, inteligente y muy protector. Excelente como perro guardián.</p>
                        </div>
                    </a>

                </div>

                <aside class="gallery-description">

                    <h3>Sobre esta galería</h3>
                    <p>
                        Esta galería muestra diferentes tipos de mascotas, principalmente perros,
                        organizados en un diseño moderno con Grid y tarjetas visuales.<br><br>
                        Cada tarjeta incluye una imagen, nombre y descripción breve para
                        practicar maquetación web y diseño responsive.
                    </p>

                </aside>

            </div>

        </section>
        <!-- Ends pets section -->

    </main>
    <!-- Ends main -->

    <!-- Starts footer -->
    <footer class="footer">

        <address class="address">

            <a href="https://github.com/Danilo-Doria" target="_blank">
                <img src="../../public/icons/github-icon.svg" alt="GitHub" />
            </a>

            <a href="https://www.linkedin.com/in/danilodd/" target="_blank">
                <img src="../../public/icons/linkedin-icon.svg" alt="Linkedin" />
            </a>

            <a href="mailto:danilodoria519@gmail.com">
                <img src="../../public/icons/email-icon.svg" alt="Correo electrónico" />
            </a>

        </address>

        <p class="footer-copyright">© 2026 Danilo Doria — Todos los derechos reservados.</p>

    </footer>
    <!-- Ends footer -->

    <!-- bubbles background effect -->
    <div class="bubbles">
        <span style="left:5%; animation-duration: 6s;"></span>
        <span style="left:10%; animation-duration: 8s;"></span>
        <span style="left:15%; animation-duration: 17s;"></span>
        <span style="left:20%; animation-duration: 10s;"></span>
        <span style="left:25%; animation-duration: 20s;"></span>
        <span style="left:30%; animation-duration: 9s;"></span>
        <span style="left:35%; animation-duration: 13s;"></span>
        <span style="left:40%; animation-duration: 7s;"></span>
        <span style="left:45%; animation-duration: 12s;"></span>
        <span style="left:50%; animation-duration: 11s;"></span>
        <span style="left:55%; animation-duration: 12s;"></span>
        <span style="left:60%; animation-duration: 10s;"></span>
        <span style="left:65%; animation-duration: 14s;"></span>
        <span style="left:70%; animation-duration: 13s;"></span>
        <span style="left:75%; animation-duration: 8s;"></span>
        <span style="left:80%; animation-duration: 6s;"></span>
        <span style="left:85%; animation-duration: 9s;"></span>
        <span style="left:90%; animation-duration: 14s;"></span>
        <span style="left:95%; animation-duration: 20s;"></span>
    </div>

    <!-- Link to js file -->
    <script src="../js/script.js"></script>
</body>

</html>